body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* ----------------HEADER----------------*/
 .logo-web {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
 }

 .studio {
    color: #2e2f42;
 }

 .link-header {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

 .link-header:hover,
 .link-header:focus {
    color: #404bbf;
 }

 .address {
    font-style: normal;
 }

 .address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

 .address-link:hover,
 .address-link:focus {
    color: #404bbf;
 }
/* -------------------------------*/

/*---------------BODY---------------*/

/*---------------section1---------------*/
.main {
    background-color: #2e2f42;
}

.main-prg {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff
}

.main-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404bbf;
} 
/*------------------------------------*/

/*---------------section2---------------*/
.features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-prg {
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}
/*------------------------------------*/

/*---------------section3---------------*/
.team {
    background-color: #F4F4FD;
}

.team-dscr {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-list {
    background-color: #FFFFFF;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-prg {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*------------------------------------*/

/*---------------section4---------------*/
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

.portfolio-dscr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-prg {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*------------------------------------*/

/*---------------FOOTER---------------*/
.footer {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-prg {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    margin: 0;
}
/*-------------------------------------*/